extends ./layout/index
block content
    .container.d-flex.justify-content-center.flex-column.align-items-center.custom-h
        img.img-fluid.img-404(src="/img/404-error.svg", alt="404 error image" width="500")
        .w-50.d-flex.justify-content-center.mt-4
            a(href="/") 
                button.btn.btn-outline-primary Go Home